.PlayerName{
    font-weight: bold;
}

#StealModalContainer{
    display: none;
}

.StealModalPlayerName:hover{
    outline-style: solid;
    outline-color: red;
}

/* Hiding the deck list */
#DeckListContainer{
    display: none;
}